<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">
                Featured
            </h5>

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                <form>
                    <div class="form-group">
                        <label for="departmentName">Name</label>
                        <input type="text" class="form-control" id="departmentName" placeholder="Department Name" ng-model="department.name">
                    </div>
                    <div class="form-group">
                        <label for="projectDescript">Description</label>
                        <textarea class="form-control" id="projectDescript" rows="3" ng-model="department.description"></textarea>
                    </div>
                </form>
                </p>
                <a href="#" class="btn btn-primary" ng-click="createDepartment(department)">Go somewhere</a>
            </div>

        </div>
    </div>
</div>

